/Actigraph
/BIDSdat/sourcedata
/BIDSdat/raw_data
/DXA
/Intake_Sheets
/Interoception
/NoldusVideo
/untouchedRaw
/WASI
/zOldProtocol-DoNotUse
Databases/

zBIDSorgStatus.xlsx

*.pklz
*.pbs.o*
*.pptx
*.Rproj.user
.Rproj.user
.DS_Store
BIDSdat/code/foodcue_proc/unit/__pycache__/

__pycache__/
