/Actigraph
/BIDSdat/sourcedata
/BIDSdat/raw_data
/DXA
/Intake_Sheets
/Interoception
/NoldusVideo
/untouchedRaw
/WASI
/zOldProtocol-DoNotUse


zBIDSorgStatus.xlsx

*.pklz
*.pbs
*.pptx
*.Rproj.user
.Rproj.user
.DS_Store
BIDSdat/code/foodcue_proc/unit/__pycache__/

__pycache__/
*.py[cod]