/Actigraph
/DXA
/Intake_Sheets
/Interoception
/NoldusVideo
/untouchedRaw
/WASI
/zOldProtocol-DoNotUse
Databases/

zBIDSorgStatus.xlsx

*.pklz
*.pbs.o*
*.pptx
*.Rproj.user
.Rproj.user
.DS_Store
*__pycache__/

/BIDSdat/derivatives/analyses
/BIDSdat/derivatives/preprocessed
/BIDSdat/code/afni/sub*
/BIDSdat/sourcedata
/BIDSdat/raw_data